body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 90%;
    margin-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width-2{
    width: 50%;
    padding-left: 10%;
    margin-right: 100px;
}
.half-width-2 img{
    width: 100%;
    margin-top: 5px;
}    